@font-face { font-family: 'PFAgoraSansPro-XThin';
    src:    url('https://nomail.com.ua/files/eot/33affcd376572ecb8cff4cd7762a7130.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/33affcd376572ecb8cff4cd7762a7130.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/33affcd376572ecb8cff4cd7762a7130.woff2') format('woff2');}

@font-face { font-family: 'PFAgoraSansPro-Light';
        src: local('PFAgoraSansPro-Light'),
    url('https://nomail.com.ua/files/woff/538f72aa1d8c330b52c4813539aa8330.woff') format('woff'); }

@font-face { font-family: 'PFAgoraSansPro-Thin';  src: local('PFAgoraSansPro-Thin'),
            url('https://nomail.com.ua/files/woff/9fe653812ce0e20674b3e0d728ef1526.woff') format('woff'); }

@font-face { font-family: 'PFAgoraSansPro-Regular';  src: local('PFAgoraSansPro-Regular'),
    url('https://nomail.com.ua/files/woff/d8c70beda312c3edc49616eb30e3eddf.woff') format('woff'); }

    @font-face { font-family: 'PFAgoraSansPro-Bold';  src: local('PFAgoraSansPro-Bold'), 
        url('https://nomail.com.ua/files/woff/db7576c2bea2b20e5e68e19d35c64f1e.woff') format('woff'); }



.wrapper{
    max-width: 1520px;
    margin: 0 auto;
}
p{
    
    padding: 0;
}

    /* header */

#header{
    padding: 15px 0 24px;
    margin-bottom: 27px;
}
.header-burger, .header-logo{
    float: left;
}
.header-contact, .header-arrow{
    float: right;
}
.header-burger{
    padding-left: 162px;
    margin-top: 15px;
}

.header-logo{
    padding-left: 67px;
    margin-top: 15px;
}
.burger-logo-menu{
    height: 2px;
    width: 25px;
    background-color: #141414;
    margin-right: 10px;
}
.burger-logo-menu:not(:last-child){
    margin-bottom: 4px;
}

.header-contact{
    width: 211px;
    height: 38px;
    background-color: #ffd200;
    border-radius: 10px;
  
}

.header-contact-phone{
    display: block;
    color: #212121;
    text-align: center;
    height: 38px;
    line-height: 38px;
    width: 218px;
    border-radius: 3px;
    font-family: PFAgoraSansPro-Light;
    box-sizing: border-box;
    text-decoration: none;
    
}
u {
    text-decoration: none;
    border-bottom: 3px dotted;
  }

  .header-arrow{
      background: url(img/icon-arrow.png) no-repeat;
      width: 35px;
      height: 30px;
      margin-left: 58px;
      margin-right: 157px;
  }
  
    /* section home-slider */
.home-slider p{
    margin: 0;
}

.home-slider .wrapper {
    background: url(img/main-slide.jpg) no-repeat center center;
    padding-bottom: 255px;
}
.home-slider{
    clear: both;
    
    background-color: #f3f0e7;
    margin-bottom: 50px;
}

.slide-title{
    font-size: 38px;
    font-family: PFAgoraSansPro-XThin;
    letter-spacing: 2.8px;
    text-align: center;
    padding-top: 57px;
    text-transform: uppercase;
    color: #000000;
}

.slide-descr{
    font-size: 26px;
    font-family: PFAgoraSansPro-Light;
    text-align: center;
    color: #000000;
    padding-top: 20px;
}

.make-book{
    width: 377px;
    border: 1px solid #212121;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    
}

.button-make-book{
    height: 67px;
    line-height: 67px;
    text-decoration: none;
    font-size: 26px;
    color: #212121;
    text-transform: uppercase;
    font-family: PFAgoraSansPro-Thin;
    
}


/* section home-instruments */
.home-instruments .wrapper {
	padding: 0 15%;
	display: flex;
	align-items: end;
	justify-content: center;
	flex-direction: row;	
}
.home-instrument {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 16px;
	max-width: 125px;
}


.home-instruments-line {
	margin-top: 58px;
	flex-grow:2;
	display: flex;
	border-bottom: 3px dashed #ffd200;
}

.home-slider::after{
    content: '';
}
    
    
.home-instruments img{
    border: 4px solid #ffd200;
    border-radius: 60px;
    padding: 29px;
}

.home-instruments p{
    font-weight: 24px;
    font-family: PFAgoraSansPro-Light;
    
}
    /* section home-news*/
   
.home-news{
   clear: both;
    background-color: #f3f0e7;
    text-align: center;
    padding-bottom: 110px;
    
}
.home-news-title{
    font-size: 38px;
    font-family: PFAgoraSansPro-XThin;
    letter-spacing: 2.8px;
    text-align: center;
    padding-top: 55px;
    text-transform: uppercase;
}

.home-news-item{
    width: 20%;
    float: left;
    padding-bottom: 53px;
}
.home-news-first, .home-news-second{
    margin-right: 7%;
}
.home-news-first {
    margin-left: 12.5%;
}
.home-news-third{
    margin-right: 12.5%;
}

.home-news-first-title, .home-news-second-title, .home-news-third-title{
    font-size: 24px;
    font-family: PFAgoraSansPro-Light;
}

.home-news-first-descr, .home-news-second-descr, .home-news-third-descr{
    font-family: PFAgoraSansPro-Light;
}

.button-make-book__color{
    background-color: #e11a27;
    border: 1px solid #e11a27;
    margin-top: 75px;
   
    

}
.button-make-book__color a{
    color: #ffffff;
}


  /* section home-solutions*/

.home-solutions{
    clear: both;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}
.home-solutions-title{
    font-size: 38px;
    font-family: PFAgoraSansPro-XThin;
    text-align: center;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.home-solutions-item{
    float: left;
    width: 295px;
    height: 402px;
    margin-bottom: 75px;
    
}
.home-solutions-first, .home-solutions-second, .home-solutions-third{
	border: 3px solid #ffd200;
	border-radius: 10px 10px 0 0;
}
.home-solutions-first-end,
.home-solutions-second-end,
.home-solutions-third-end {
	border: 3px solid #ffd200;
	border-radius: 0 0 10px 10px;
}

.home-solutions-second-bestseller{
    font-size: 14px;
    font-family: PFAgoraSansPro-Bold;
    text-transform: uppercase;
    color: #e11a27;
    width: 192px;
    background: #ffd200;
    height: 27px;
    margin-top: -27px;
    margin-left: 55px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); 
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}

.home-solutions-first-title, .home-solutions-second-title, .home-solutions-third-title{
    background: #ffd200;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: PFAgoraSansPro-Regular;
}
.home-solutions-first-end, .home-solutions-second-end, .home-solutions-third-end{
    background: #ffd200;
    height: 50px;
    font-size: 21,67px;
    font-family: PFAgoraSansPro-Thin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-solutions-item:not(:last-child){
    margin-right: 70px;
}
.home-solutions-list li{
    list-style:none;
    background: url(img/icon-done.png) no-repeat left ;
    padding-left: 25px;
    font-size: 18px;
    font-family: PFAgoraSansPro-Regular;
    line-height: 27px;
}
.home-solutions-first-price, .home-solutions-second-price, .home-solutions-third-price{
    font-size: 60px;
    font-family: PFAgoraSansPro-Light;
    text-align: center;
}

.home-solutions-first-price{
    margin-top: 67.5px;
}

.home-solutions-second-price{
    margin-top: 40.5px;
}


/* section home-testimonials*/
.home-testimonials p{
    margin: 0;
}
.home-testimonials .wrapper {
    padding-bottom: 90px;
    background: url(img/slide-2.jpg) no-repeat center center;
}
.home-testimonials{
    padding-left: 12.5%;
    background-color: #f3f0e7;
   
    
}
.home-testimonials-title{
    font-size: 38px;
    font-family: PFAgoraSansPro-XThin;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    padding-top: 38px;
    
}
.home-testimonials-photogragher{
    background: url(img/foto-john.png) no-repeat left center;
    height: 160px;
    padding-left: 191px;
    padding-top: 20px;

}
.home-testimonials-photogragher-name{
    font-size: 30px;
    font-family: PFAgoraSansPro-Light;
    padding: 35px 0 10px 0;
    
}
.home-testimonials-photogragher-descr{
    font-size: 18px;
    font-family: PFAgoraSansPro-Light;
    
}

.home-testimonials-descr{
    max-width: 540px;
    font-size: 18px;
    font-family: PFAgoraSansPro-Light;
}

.make-book__left{
    margin-left: 80px;
    margin-top: 115px;
    
}

.home-testimonials-next{
 font-family: PFAgoraSansPro-XThin;
 background: url(img/icon-next.png) no-repeat right center;
 text-align: right;
 padding-right: 40px;
}

/* section home-information*/

.home-information{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    margin-top: 93px;
}

.home-information-first-title, .home-information-second-title, .home-information-third-title{
    background: #ffd200;
    height: 65px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: PFAgoraSansPro-Light;
    
}
.home-information-item:first-child{
    margin-right: 70px;
}
.home-information-item:nth-child(2){
    margin-right: 70px;
}
.home-information-list{
    list-style-type: disc;
}
ul{
    margin-left: 47px;
}
.home-information-item{
    width: 313px;
    float: left;
    padding-bottom: 75px;
}

.button-make-book__color{
    clear: both;
}
.home-information-first-descr, .home-information-second-descr, .home-information-third-descr{
    background: #f7f0e6;
    height: 235px;
    border-radius: 0 0 10px 10px;
    font-size: 18px;
    font-family: PFAgoraSansPro-Regular;
    padding: 13px 37px;
    margin-top: 7px;
}
.home-information-red{
    color: #e11a27;
}

 /* footer*/
#footer {
    background-color: #ffd200;
    padding-bottom: 58px;
    margin-top: 120px;
}

#footer .wrapper {
	display: flex;
	flex-direction: row; 
	justify-content: space-between;
	flex-wrap: wrap;

}

hr {
	margin-left: 0px;
    border: none;
    background-color: #000000;
    color: #000000; 
    height: 1px;
    width: 154px; 
    margin-bottom: 30px;

}

.footer-col-first, .footer-col-second, .footer-col-third{
    display: flex;
	flex-direction: column;
    margin-left: 80px;
    padding-top: 50px;
    font-size: 18px;
    font-family: PFAgoraSansPro-Regular;
    
}

 .footer-col-fourth{
     float: right;
     padding-top: 50px;
     font-size: 18px;
    font-family: PFAgoraSansPro-Regular;
    margin-right: 185px;

 }
 
 .footer-logo{
     border: 1px solid #000000; 
     border-radius: 10px;
     width: 87px;
     height: 95px;
     font-size: 11.08px;
     text-align: center;
     margin-top: 52px;  
    padding-top: 14px;
 }
 .footer-logo-descr{
     padding-bottom: 13px;
 }
 
.footer-facebook, .footer-twitter{
    padding-right: 18px;
}
 .footer-copyright{
     display: flex;
	 justify-content: center;
	 flex-basis: 100%;
     text-align: center;
     font-size: 14px;
     font-family: PFAgoraSansPro-Regular;
     padding-top: 30px;
 }

 @media (max-width: 1095px){
    .home-solutions-item {
        float: none;
        }
        .home-solutions-item:not(:last-child){
            margin-right: 0;
        }
    .home-solutions-title{
        padding-bottom: 0;

    }
    .home-information-item {
        float: none;
        padding-bottom: 15px;
        
    }
    .home-information-item:first-child{
        margin-right: 0;
    }
    .home-information-item:nth-child(2){
        margin-right: 0;
    }
    .button-make-book__color{
        margin-top: 15px;
    }
    .make-book{
        width: 230px;
    }
    .button-make-book{
        font-size: 18px;
    }
    #footer p{
        margin: 0;
    }
    .footer-col-fourth{
        margin-left: 80px;
    }
    

}
    



 @media (max-width: 1009px){
     .home-news{
         display: block;
         padding-bottom: 15px;
         }
    .home-news-item{
        float: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0;
    }
    .home-news-title{
        padding-top: 15px;
    }
     }


@media (max-width: 903px){
    .header-burger{
      padding-left: 15px;
        
    }
.header-arrow{
    margin-right: 15px;
    margin-left: 20px;
}
.header-logo{
padding-left: 20px;
}
}

@media (max-width: 657px){
	#header {
		margin: 0;
	}
	#header .wrapper {
		display: flex;
		flex-direction: row;	
	}
	#header .header-arrow {
		margin-top: 7px;
	}
	.header-logo {
		margin-left: 0;
	}
	.header-contact {
		display: none;
	}
	.home-instruments .wrapper {
		align-items: center;
		flex-direction: column;
	}
	.home-news .wrapper {
		padding: 0 15px;
	}
	.home-news-item {
		width: 100%;
	}
	.home-solutions-item {
		padding: 0 30px 70px 30px;
		box-sizing: border-box;
		width: 100%;
	}
	
	.home-solutions-second-bestseller {
		margin-left: 38px;
	}
	.home-testimonials {
		padding-left: 0;
	}
	.home-testimonials .wrapper {
		padding-left: 15px;
		padding-right: 55px;
		padding-bottom: 10px;
	}
	.make-book{
		width: 100%;
		margin: 50px 0 0 0 ;
	}
	.home-information .wrapper {
		padding: 0 25px;
	}
	.home-information-item {
		width: 100%;
	}
}